@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto+Slab:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

* {
  margin: 0 auto;
}

:root {
  --dark: #383a50;
  --light: #a8aeb4;
  --border: #dbe3ea;
  --border-btn: #e3ebee;
}

body {
  font-family: "Lora", serif;
}

p {
  text-align: left;
  padding: 20px 0 20px 30px;
}

a {
  font-family: "font-family: 'Source Sans Pro', sans-serif;Source Sans Pro",
    sans-serif;
  font-size: 18px;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 37px;
  text-align: center;
}

.location {
  text-align: center;
}

.container {
  max-width: 1024px;
  margin: auto;
}

.new-user {
  font-size: 1.5em;
  display: flex;
  flex-wrap: wrap;
}

.inline {
  display: inline-block;
}

#header {
  background-color: #0e7fe8;
  max-height: 50px;
}

.body-content {
  padding: 10px 30px;
}

#main.container.box-nav > a {
  font-size: 1em;
  padding: 0.5em 1em;
}

#main.container form {
  margin: 2em 0;
}

table {
  border-spacing: 0px;
  width: 100%;
  border: 1px solid black;
}

.table td,
.table th {
  padding: 0.75em;
  vertical-align: top;
  text-align: center;
  border-top: 1px solid var(--border);
}

.table td > a.btn {
  padding: 0.3em 1em;
  font-size: 1.1em;
  margin: 0.2em;
}

.table tr:hover {
  background-color: #636261;
}

.form-title {
  margin-top: 2em;
}

.form-title > h2 {
  padding: 0.5em 0;
}

.new_user {
  max-width: 786px;
  margin: auto;
}

#update_user .form-group,
#add_user .form-group {
  margin: 0.4em 0;
}

#update_user .form-group input[type="text"] {
  width: 100%;
  padding: 0.6em 1em;
  margin: 0.5em 0;
  border: 1px solid;
  font-family: "Lora", serif;
}

#update_user .form-group .radio,
#add_user .form-group .radio {
  margin: 0.2em;
}

#update_user .form-group .btn,
#add_user .form-group .btn {
  width: 50%;
  margin: 0;
  position: absolute;
  left: 25%;
  background-color: rgb(155, 153, 153);
  color: black;
  border-radius: 8px;
}

#update_user .form-group .btn:hover,
#add_user .form-group .btn:hover {
  background-color: rgb(255, 119, 0);
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
