@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto+Slab:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

* {
  margin: 0 auto;
}

body {
  font-family: "Lora", serif;
  background-color: yellowgreen;
}

p {
  text-align: left;
  padding: 20px 0 20px 30px;
  font-size: 20px;
}

a {
  font-family: "font-family: 'Source Sans Pro', sans-serif;Source Sans Pro",
    sans-serif;
  font-size: 18px;
  padding: 20px 0 50px 15px;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 45px;
  text-align: center;
}

.address {
  text-align: center;
}

.name {
  font-size: 1.5em;
  display: flex;
  flex-wrap: wrap;
}

.inline {
  display: inline-block;
}

.court-item {
  margin: auto;
  padding: 10px 10px 10px 10px;
}

.delete-form {
  padding: 5px 5px 15px 15px;
}

h3 {
  padding: 0 0 0 15px;
}

input {
  max-width: 100px;
  max-height: 70px;
}

label {
  font-size: 20px;
}
